!!! 5
%html
  %head
    %title Hubcap
    %link{:type => "text/css", :rel => "stylesheet", :href => "stylesheets/style-report.css"}
    %script{:type => "text/javascript", :src => "javascripts/protovis-r3.2.js"}
    %script{:type => "text/javascript"}="var data = #{@repos.with_participation.to_json(:ascii_only => true)}; var weeks_of_partial_data = #{@repos.weeks_of_partial_data};"
      
  %body
    #headings
      %a{:href => "/"}
        %h1 Hubcap
        %h2 A visual recap of your GitHub commits
      - info  = "52 week owner commits for <a href=\"https://github.com/#{params['login']}/\">#{params['login']}</a>'s repostories"
      - info += ", covering the #{@repos.with_participation.count} repositories pushed in the last #{@repos.weeks_of_full_data} weeks"
      - info += ", excluding the #{@repos.without_participation.count} repositories last pushed previously" if @repos.without_participation.count > 0 && @repos.weeks_of_partial_data > 0
      - info += "."
      %p.info= info

    #chart
      %script{:type => "text/javascript", :src => "javascripts/chart.js"}

    #legend
      %table
        - repos_for_table = @repos.with_participation.by_last_pushed_desc
        - row_count = (repos_for_table.count / 3.0).ceil
        - table_indexes = (0..(repos_for_table.count-1)).group_by{ |i| i % row_count }.values.sort
        - table_indexes.each do |row_indexes|
          %tr
            - row_indexes.each do |i|
              - if i
                %td
                  %span.colorbox{:style => "background-color: #{repos_for_table[i]['color']}"}
                %td.reponame
                  %a{:href => "https://github.com/#{params['login']}/#{repos_for_table[i]['name']}"}= "#{repos_for_table[i]['name']}"
